/* ---------- ROOT VARIABLES ---------- */
:root {
	--primary-color: #e8ad36;
	--secondary-color: #84b0a1;
	--accent-color: #e8602b;
	--background-color: #f6f2e8;
	--serif-font: 'EB Garamond', 'Garamond', 'Times New Roman', serif;
	--sans-header-font: 'Didact Gothic', 'Futura', 'Arial', sans-serif;
	--sans-text-font: 'Montserrat', 'Helvetica', sans-serif;
	--display-font: 'Monoton', 'Prisma', 'Open Sans', sans-serif;
	--gutter: 6vw;
	--width-no-gutter: calc(100% - 2 * var(--gutter));
	--navbar-height: 75px;
	--text-size: 16px;
	--text-color: #131212;
	--inverted-text-color: #f3f2f2;
	--inverted-a-color: #c58af9;
	--bg-color-trans: background-color 0.3s;
	--box-shadow-standard: 0px 0px 2px rgba(0, 0, 0, 0.6);
	--box-shadow-hover: 0px 0px 4px black;
	--box-shadow-inset: 0px 0px 5px black inset;
}

/* ---------- APP-WIDE CSS RESET ---------- */
/* (inspired by https://piccalil.li/blog/a-modern-css-reset/) */

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* ---------- APP-WIDE ELEMENT BEHAVIOR ---------- */

/* Add global border-box */
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Set site-wide smooth scrolling */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.25;
}

/* Images fill container */
img,
picture {
	max-width: 100%;
	display: block;
}

/* ---------- APP-WIDE PAGE STYLING ---------- */

html {
	background-color: var(--site-background-color);
}

/* ---------- APP-WIDE TEXT STYLING ---------- */

h1 {
	font-family: var(--sans-header-font);
	font-weight: medium;
	font-size: 2rem;
	text-align: center;
	padding: 2rem 0;

}

h2 {
	font-family: var(--sans-text-font);
	padding: 0.5rem 0 0.25rem 0;
	font-size: 1.5rem;
	font-weight: medium;
	text-align: center;
}

h3,
h4,
h5,
h6 {
	font-family: var(--sans-text-font);
}

p,
li {
	font-family: var(--sans-text-font);
	font-size: var(--text-size);
}

i {
	padding-right: 0.125em;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	display: inline-block;
}

button {
	padding: 1rem 1.5rem;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	font-size: var(--text-size);
}

button:hover {
	cursor: pointer;
}

small {
	font-size: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: calc(0.75 * var(--text-size)) calc(0.75 * var(--text-size)) calc(0.75 * var(--text-size)) calc(0.375 * var(--text-size));
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 8px;
}



/* ---------- APP-WIDE UTILITY CLASSES ---------- */
.Util_bold {
	font-weight: bold;
}

.Util_italic {
	font-style: italic;
}

.Util_btnPrimary {
	background-color: var(--primary-color);
	text-decoration: none;
	box-shadow: var(--box-shadow-standard);
}

.Util_btnSecondary {
	background-color: var(--secondary-color);
	/* Assigning white because it's hard to see
	inverted color against secondary color */
	color: white;
	text-decoration: none;
	box-shadow: var(--box-shadow-standard);
}

.Util_btnAccent {
	background-color: var(--accent-color);
	color: var(--inverted-text-color);
	text-decoration: none;
	box-shadow: var(--box-shadow-standard);
}


.Util_btnPrimary:hover,
.Util_btnSecondary:hover,
.Util_btnAccent:hover,
.Util_btnLink:hover,
.Util_linkBtnAccent:hover,
.Util_linkBtnSecondary:hover {
	box-shadow: var(--box-shadow-hover);
	transition: box-shadow 0.25s ease;
}

.Util_btnPrimary:active,
.Util_btnSecondary:active,
.Util_btnAccent:active,
.Util_btnLink:active,
.Util_linkBtnAccent:active,
.Util_linkBtnSecondary:active,
.Util_btnDepressed {
	box-shadow: var(--box-shadow-inset);
}

.Util_invertedA {
	color: var(--inverted-a-color);
	text-decoration: underline;
}

.Util_invertedText {
	color: var(--inverted-text-color);
}

a.active {
	font-weight: 700;
}

/* Styling for buttons meant to mimic anchors */
.Util_btnLink {
	color: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: var(--text-size);
}

/* Styling for achors meant to mimic buttons */
.Util_linkBtnAccent {
	background-color: var(--accent-color);
	padding: 1rem 1.5rem;
	border-radius: 5px;
	color: var(--inverted-text-color);
	text-decoration: none;
	box-shadow: var(--box-shadow-standard);
}

.Util_linkBtnSecondary {
	background-color: var(--secondary-color);
	padding: 1rem 1.5rem;
	border-radius: 5px;
	color: var(--inverted-text-color);
	text-decoration: none;
	box-shadow: var(--box-shadow-standard);
}

.Util_logoInText {
	font-family: var(--display-font);
}

.Util_btnThin {
	padding: 0.5rem;
	font-size: calc(0.9 * var(--text-size));
}

.Util_animPaused {
	animation-play-state: paused;
}

.hidden {
	display: none;
}

/* ---------- ACCESSIBILITY ---------- */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

@media screen and (max-width: 767px) {
	:root {
		--nav-text-size: 1rem;
		--gutter: 5vw;
	}
}

@media screen and (max-width: 575px) {

	p>a::after,
	.App_underline::after {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: -0.05em;
		background: var(--accent-color);
		height: 0.125em;
		transition: none;
	}


}