nav {
	width: 100vw;
	height: var(--navbar-height);
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--gutter);
}

nav:hover {
	background-color: var(--primary-color);
	transition: var(--bg-color-trans);
}

/* This refers to the ul the links sit inside */
.navbar_links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* This is each li link */
.navbar_link {
	list-style: none;
	padding: 0 0.5rem;
	font-size: 1.1rem;
}

.navbar_link>a {
	text-decoration: none;
	color: var(--text-color);
}

.navbar_link>a:hover {
	text-decoration: underline;
}

.navbar_logo {
	font-family: var(--display-font);
	font-size: 2rem;
	color: var(--primary-color);
}

nav:hover .navbar_logo {
	color: var(--inverted-text-color);
	transition: var(--bg-color-trans);
}

nav:hover .navbar_link>a {
	color: var(--inverted-text-color);
	transition: var(--bg-color-trans);
}