nav {
	width: 100vw;
	height: var(--navbar-height);
	background: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--gutter);
	position: absolute;
	z-index: 3;
}

nav:hover {
	background-color: var(--background-color);
	transition: var(--bg-color-trans);
}

/* This refers to the ul the links sit inside */
.navbar_links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* This is each li link */
.navbar_link {
	list-style: none;
	padding: 0 0.5rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.navbar_link>a {
	text-decoration: none;
	color: var(--inverted-text-color);
}

.navbar_link>a:hover {
	text-decoration: underline;
	text-decoration-thickness: 7.5%;
}

.navbar_logo {
	font-family: var(--display-font);
	font-size: 2rem;
	color: var(--inverted-text-color);
}

nav:hover .navbar_logo {
	color: var(--accent-color);
	transition: var(--bg-color-trans);
}

nav:hover .navbar_link>a,
nav:hover .logout_handler {
	transition: var(--bg-color-trans);
	color: var(--text-color);
}

.logout_handler {
	font-family: var(--sans-text-font);
	font-size: 1.1rem;
	font-weight: 500;
	background: none;
	padding: 0;
	color: var(--text-color);
	margin: 0;
}

.logout_handler:hover {
	text-decoration: underline;
	text-decoration-thickness: 7.5%;
	cursor: pointer;
}